[project]
	description = Simple wiki
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aneesh Kumar (aneeshep)
[access "refs/for/refs/*"]
	read = group user/Aneesh Kumar (aneeshep)
	push = group user/Aneesh Kumar (aneeshep)
	label-Code-Review = -2..+2 group user/Aneesh Kumar (aneeshep)
	label-Verified = -1..+1 group user/Aneesh Kumar (aneeshep)
	rebase = group user/Aneesh Kumar (aneeshep)
	removeReviewer = group user/Aneesh Kumar (aneeshep)
	submit = group user/Aneesh Kumar (aneeshep)
[access "refs/heads/*"]
	read = group user/Aneesh Kumar (aneeshep)
	create = group user/Aneesh Kumar (aneeshep)
	push = +force group user/Aneesh Kumar (aneeshep)
	pushMerge = group user/Aneesh Kumar (aneeshep)
[access "refs/tags/*"]
	push = group user/Aneesh Kumar (aneeshep)
	push = +force group user/Aneesh Kumar (aneeshep)
